@import "tailwindcss";

html,
body,
#root {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

body {
  background: #030405;
  color: #f7f5f4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
canvas,
svg,
video {
  max-width: 100%;
}
